In [22]:
import numpy as np

In [23]:
import pandas as pd

In [37]:
# Files to load
student_data_to_load = "Resources/students_complete.csv"

In [25]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head(6)

# Determine if there are any missing values in the student data.
student_data_df.count()
student_data_df.isnull().sum()
student_data_df.notnull().sum()

# Determine data types for the student DataFrame.
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [45]:
# Add each prefix and sufix to remove to a list. 
prefixes_suffixes = ["Dr. ", "Mr. ", "Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the "prefixes_suffixes" list and replace them with an empty space, "" when it appears in the student's name.
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")
    
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [46]:
student_data_thomas_df = student_data_df.loc[student_data_df["school_name"] == "Thomas High School", :]

In [47]:
student_data_thomas_df.count()

Student ID       1635
student_name     1635
gender           1635
grade            1635
school_name      1635
reading_score    1635
math_score       1635
dtype: int64

In [48]:
student_data_9th_df = student_data_df.loc[student_data_df["grade"] == "9th", :]

In [49]:
student_data_9th_df.count()

Student ID       11408
student_name     11408
gender           11408
grade            11408
school_name      11408
reading_score    11408
math_score       11408
dtype: int64

In [52]:
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th"), "reading_score"] = np.nan

In [53]:
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th"), "math_score"] = np.nan

In [54]:
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    38709
math_score       38709
dtype: int64